.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
